spring:

  # JPA 설정
  jpa:
    open-in-view: false   # 트랜잭션이 종료된 후에도 Hibernate 세션을 열어 두는 것을 방지합니다.
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: none

# 로깅
logging:
  level:
    org.hibernate.orm.jdbc.bind: info
    org.springframework.transaction.interceptor: info